body{
    background-color: rgb(224, 224, 147);
}
.column{
    float: left;
    width: 25%;
}
#Main-heading{
    background-color: rgb(0, 200, 255);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}